@{
    ViewData["Title"] = "About Page";
}

<div class="container mt-5">
    <h1 class="display-4 text-center">About Me</h1>

    <section class="mt-4">
        <h2>Education</h2>
        <p>
            Bachelor of Science in Physics (In-View)<br>
            Federal University of Agriculture Abeokuta (FUNAAB), Nigeria<br>
            January 2024 - Present
        </p>
    </section>

    <section class="mt-4">
        <h2>Skills</h2>
        <ul>
            <li>C#, ASP.NET, ASP.NET Core</li>
            <li>HTML, CSS, JavaScript, TypeScript</li>
            <li>React, Next.js</li>
            <li>Micro-Service and N-Layer Architectures</li>
            <li>Azure, AWS, SQL Server, MongoDB</li>
            <li>Design Patterns (CQRS, DDD), gRPC, ADO.NET</li>
        </ul>
    </section>

    <section class="mt-4 mb-5">
        <h2>Interests</h2>
        <p>Outside of software development, I enjoy engaging in various activities to maintain a balanced lifestyle:</p>
        <ul>
            <li>Video Games and Game Development</li>
            <li>Sports and Fitness</li>
            <li>Exploring New Technologies</li>
            <li>Listening to Music and Attending Live Performances</li>
        </ul>
    </section>
</div>
