@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to My Online CV</h1>
        <p class="lead">Hello! I'm Fatiu Lawal, a passionate Full Stack Developer skilled in C#, ASP.NET, and JavaScript.</p>
        <p>With a strong background in developing dynamic and scalable web applications, I have a proven track record in delivering high-quality software solutions using Agile methodologies. My expertise spans across both front-end and back-end development, ensuring end-to-end delivery of projects.</p>
        <hr class="my-4">
        <p>Feel free to explore my portfolio, learn more about my professional journey, and discover the projects I have worked on.</p>
        <a class="btn btn-primary btn-lg" href="Home/About" role="button">Learn More About Me</a>
    </div>
</div>
