@{
	ViewData["Title"] = "Projects Page";
}

<div class="container mt-5">
	<h1 class="display-4 text-center">My Projects</h1>
	<p class="text-center">Here are some of the key projects I have worked on, showcasing my skills and experience in software development.</p>

	<div class="row mt-4">

		<div class="col-md-6">
			<div class="card mb-4">
				<div class="card-body">
					<h5 class="card-title">Attendance Tracker and Marker for Employees</h5>
					<p class="card-text">Developed an efficient attendance tracking system using C#, .NET Framework, ADO.NET, and MySQL database. Designed a user-friendly interface for administrators and employees, implemented real-time updates, and optimized database queries.</p>
					<p><strong>Technologies Used:</strong> C#, .NET Framework, ADO.NET, MySQL</p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card mb-4">
				<div class="card-body">
					<h5 class="card-title">Ops Manager</h5>
					<p class="card-text">Led full-stack development for Ops Manager, overseeing staff and asset management for an electric distribution company. Contributed to PSPS, an application focused on monitoring customer power supply.</p>
					<p><strong>Technologies Used:</strong> C#, ASP.NET, Web API, MVC, Desktop Applications, Crystal Reports</p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card mb-5">
				<div class="card-body">
					<h5 class="card-title">Real-time Auction Platform</h5>
					<p class="card-text">Developed a real-time auction platform with asynchronous communication, allowing users to enter a bidding room, submit bids, receive notifications for the highest bids, and automatically generate invoices for the highest bidder.</p>
					<p><strong>Technologies Used:</strong> C#, ASP.NET, gRPC, RabbitMQ, YARP, MongoDB, MassTransit</p>
				</div>
			</div>
		</div>

		<div class="col-md-5">
			<div class="card mb-6">
				<div class="card-body">
					<h5 class="card-title">Coding Hub Portal</h5>
					<p class="card-text">Led the development of the Coding Hub Portal, aligning project objectives and timelines with the client's vision. Implemented dynamic front-end features and optimized backend processes.</p>
					<p><strong>Technologies Used:</strong> C#, ASP.NET, HTML, CSS, JavaScript, React, Next.js, TypeScript, MySQL</p>
				</div>
			</div>
		</div>
	</div>
</div>
