@{
    ViewData["Title"] = "Work Experience";
}
<div class="container mt-5">
    <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    <p class="text-center">Below is a summary of my professional experience, detailing the roles, responsibilities, and achievements in my career.</p>

    <div class="row mt-4">

        <div class="col-md-12 mb-4">
            <h3>Full Stack Engineer</h3>
            <h5>Monarch Technology Solutions</h5>
            <p><i>November 2023 - August 2024, Lagos, Nigeria</i></p>
            <ul>
                <li>Led full-stack development for Ops Manager, overseeing staff and asset management for an electric distribution company.</li>
                <li>Contributed to PSPS, an application focused on monitoring customer power supply.</li>
                <li>Collaborated with cross-functional teams to ensure scalability and performance optimization.</li>
                <li>Technologies Used: C#, ASP.NET, Web API, MVC, Desktop Applications, Crystal Reports.</li>
            </ul>
        </div>

        <div class="col-md-12 mb-4">
            <h3>Backend Developer</h3>
            <h5>Auction-Platform</h5>
            <p><i>June 2024 - August 2024, Remote</i></p>
            <ul>
                <li>Developed a real-time auction platform with asynchronous communication capabilities.</li>
                <li>Implemented features to handle user interactions, such as entering bidding rooms, submitting bids, and generating invoices for winning bids.</li>
                <li>Technologies Used: C#, ASP.NET, gRPC, RabbitMQ, YARP, MongoDB, MassTransit.</li>
            </ul>
        </div>

        <div class="col-md-12 mb-5">
            <h3>Junior Full Stack Engineer</h3>
            <h5>SYSBEAMS</h5>
            <p><i>March 2024 - Present, OgunState, Nigeria</i></p>
            <ul>
                <li>Led the development of the Coding Hub Portal, aligning project objectives and timelines with the client's vision.</li>
                <li>Planned, coordinated, and executed software development tasks in an Agile environment.</li>
                <li>Technologies Used: C#, ASP.NET, HTML, CSS, JavaScript, React, Next.js, TypeScript, MySQL.</li>
            </ul>
        </div>
    </div>
</div>
